{% extends "layouts/main_layout.html.twig" %}

{% block title %}Projects{% endblock %}

{% block head %}
	<script src="{{ asset('js/angular.min.js') }}"></script>

	<script>
		var ASSIGN_PERSON_URL = "{{ url('assign_person') }}";
		var UNASSIGN_PERSON_URL = "{{ url('unassign_person') }}";
	</script>
{% endblock %}

{% block main_content %}
	<div class="row" ng-app="ProjectAssignments">
		<div class="col l12 m12 s12">
			<div class="card" ng-controller="ProjectAssignmentsCtrl" ng-init="init({{ project }}, {{ unassigned_persons }})">
				<div class="card-content">
					<span class="card-title">Project Assignments - {{ '{{ project.name }}' }}</span>
					<br/><br/>
					<div class="row">
						<div class="input-field col s12 m5 l5">
							
							<select id="person-dropdown" class="browser-default">
								<option value="" disabled selected>New Member</option>
								<option ng-repeat="person in unassigned_persons" value="{{ '{{ person.id }}' }}">{{ '{{ person.firstName }}' }} {{ '{{ person.lastName }}' }}</option>
							</select>
							
						</div>
						<div class="input-field col s12 m5 l5">
							<a href="#" class="waves-effect waves-light btn" ng-click="assignPerson()">Add</a>
						</div>
					</div>
					<table>
						<thead>
							<tr>
								<th data-field="full_name">Current Members</th>
								<th data-field="tasks"></th>
							</tr>
						</thead>
						<tbody>

						<tr ng-repeat="person in project.persons">
							<td>{{ '{{ person.firstName }}' }} {{ '{{ person.lastName }}' }}</td>
							<td><a href="" ng-click="unassignPerson(person)">Remove</a></td>
						</tr>

						<tr ng-if="project.persons.length == 0">
							<td colspan="3">No persons assigned</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/ProjectAssignments.js') }}"></script>
{% endblock %}